{
  "extends": [
    "eslint:recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 9,
    "sourceType": "module"
  },
//  "env": {
//    "es6": true,
//    "mocha": true,
//    "node": true
//  },
//  "globals": {
//    "app_require": true
//  },
//  "parserOptions": {
//    "sourceType": "module",
//    "ecmaVersion": "2018"
//  },
//  "ecmaFeatures": {
//    "experimentalObjectRestSpread": true
//  },
  "rules": {
    "no-unused-vars" : 2,
    "no-undef" : 2
  }
}
